.whitelist,.blacklist,.gratherThanButton,.gratherThan {
   position:relative;
}
.whitelist {
    content: "";
    position:absolute;
    top:10px;
    right:10px;
    border-radius:100%;
    width:30px;
    height:30px;
    background:#00ff00 ;
}

.blacklist {
    content: "";
    position:absolute;
    top:10px;
    right:10px;
    border-radius:100%;
    width:30px;
    height:30px;
    background: #ff0000 ;
}

.whitelist.blacklist {
    content: "";
    position:absolute;
    top:10px;
    right:10px;
    border-radius:100%;
    width:30px;
    height:30px;
    background: #ff9900 !important;
}



.gratherThanButton::before {
    content: "";
    position:absolute;
    top:180px;
    font-size:10px;
    left:10px;
    border-radius:100%;
    width:30px;
    height:30px;
    background:#ffffff  !important;
    border:solid 1px #000;
    z-index:1000;
}
.gratherThanButton button {
    position:absolute;
    top:220px;
    left:10px;
    z-index:1000;
}

.gratherThanButtonTrue::before {
    background:#00ff00  !important;
}

.gratherThanButtonFalse::before {
    background:yellow  !important;
}

.whitelistParent.blacklistParent .whitelist, .whitelistParent.blacklistParent .blacklist 
{
    background: #ff9900 !important;
}